@import "bootstrap/bootstrap.scss";

// bower:scss

// endbower


@import url('https://fonts.googleapis.com/css?family=Poppins:400,800');

@import url('https://fonts.googleapis.com/css?family=Yeseva+One');

/*Bold*/

.progressbar-text {

position: absolute;
top: 32%;
left: 25%;
font-size: 35px;

}

/* FOOTER SECTION */

/*----------------*/
/*.footer-top-bar-link{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}*/
.separator.statistics{
    max-width: 100px;
    margin: 8px auto;
    opacity: .5;
}
/*.statistics{
    margin: 48px auto;
}*/
.statistics .fa{
    color: #F6882C;
    /*margin-top: 120px;*/
}
/*.statistic-value{
    color: white!important;
    margin: 36px auto;
    font-size: 60px!important;
}*/
.counters{
    position: relative; 
    display: -webkit-box; 
    display: -ms-flexbox; 
    display: flex; 
    -webkit-box-align: center; 
    -ms-flex-align: center; 
    align-items: center; 
    -webkit-box-pack: center; 
    -ms-flex-pack: center; 
    justify-content: center;     
    background-size: cover; 
    background-position: 0% 70%; 
}
.counter-mask{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    -webkit-transition: all ease-out .3s;
    transition: all ease-out .3s;
}
.counters .counter-name{
    color: white;
    font-size: 18px;
    display: inline-block;
    margin: 0 auto;
}
@media screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait){
    .ships .container-fluid{
        padding: 0;
    }
    .ship-placeholder{
        height: auto;
    }
    .ship-placeholder img{
        -webkit-filter: none;
        filter: none;
    }
}
/*-------------*/

#progress {

height: 150px;
width: 150px;

}

/*Ribbons*/


#ribbon-naranja {

    background: $danger;
    width: auto;
    display: inline-block;
    margin: 18px auto;
    position: absolute;
    color: #FFF;
    line-height: 30px;
    padding: 0px 31px 0px 30px;
    left: 0;
    z-index: 15;
    font-weight: bold;

}

#ribbon-naranja:after{
  content:"";
  height:0;
  width: 0;
  top:0px;
  right:-30px;
  position: absolute;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-bottom: 30px solid $danger;
}

#ribbon-naranja:before{
  content:"";
  height:0;
  width: 0;
  top:0px;
  right:-30px;
  position: absolute;
  /*border-style: solid;*/
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-top: 30px solid $danger;
}

#ribbon-info {

    background: $info;
    width: auto;
    display: inline-block;
    margin: 18px auto;
    position: absolute;
    color: #FFF;
    line-height: 30px;
    padding: 0px 31px 0px 30px;
    left: 0;
    z-index: 15;
    font-weight: bold;

}

#ribbon-info:after{
  content:"";
  height:0;
  width: 0;
  top:0px;
  right:-30px;
  position: absolute;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-bottom: 30px solid $info;
}

#ribbon-info:before{
  content:"";
  height:0;
  width: 0;
  top:0px;
  right:-30px;
  position: absolute;
  /*border-style: solid;*/
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-top: 30px solid $info;
}


/*hr modificado*/

.shr {


    border: 0;
        border-top-color: currentcolor;
        border-top-style: none;
        border-top-width: 0px;
    border-top: 1px solid #ced4da;

}

/*CCM*/
/** {
  box-sizing: border-box;
}*/  

/*//Copy this css*/
/* Underline From Center */
.hvr-underline-from-center {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
}
.hvr-underline-from-center:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 51%;
  right: 51%;
  bottom: 0;
  background: #2098D1;
  height: 4px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-underline-from-center:hover:before, .hvr-underline-from-center:focus:before, .hvr-underline-from-center:active:before {
  left: 0;
  right: 0;
}

#menu-principal li a {

    
    @extend .hvr-underline-from-center !optional
}



.logo {

    background-image: url(../images/logogo.png);
    background-repeat: no-repeat;
    background-position: bottom;
    width: 115px;
    height: 72px;

}


@include media-breakpoint-down(sm) { 
.logo {
display: none;


}

 }




.blur {

    -webkit-filter: brightness(35%);
    filter: brightness(35%);



}

.customers {

    min-height: 220px;

}


/*AJUSTE DE IMAGEN*/

.h100 img {

    width: auto;
    height: 100%;
/*    position: absolute;*/

}

/*AJUSTE DE IMAGEN*/

/*.section2 {
overflow: -moz-hidden-unscrollable;

}*/

/*img {

    vertical-align: middle;
  }*/

.car-caption {

    position: absolute;
    right: 15%;
    top: 13%;
    left: 15%;
    z-index: 10;
/*    padding-top: 20px;
    padding-bottom: 20px;*/
    color: #fff;
    text-align: center;
    background-color: #3e342d4d;
    border-radius: 6px;
    padding: 15px 0;

}

.bg-cover {
  background-size: cover;
  color: white;
  background-position: center center;
  position: relative;
/*  z-index: -2;*/
}


@include media-breakpoint-down(sm) {
  h1 {
    font-size: 1.6rem;
  }

/*  .lead {
    font-size: 0.5rem;
  }*/
}

.bg-dark2 {

background-color: #343a40cc;


}

.secondfont {

  font-family: "Yeseva One";

}

@media (max-width: 575.98px) { 


.titu {
  

  font-size:($display4-size);

  }

.lead {
    font-size: 1.2rem;

  }

.jumbotron {
    padding: 0rem 1rem;


}

}

/*RESPONSIVE FONTS*/

/*@include media-breakpoint-up(sm) {
  .jumbotron {
    font-size: 1rem;
  }
}




@include media-breakpoint-up(md) {
  .jumbotron {
    font-size: 1.4rem;
  }
}

@include media-breakpoint-up(lg) {
  .jumbotron {
    font-size: 1.6rem;
  }
}*/

/*RESPONSIVE FONTS*/

// Stuff that matters.
@keyframes scroll {
  0% {
    transform: translateY(0);
  }
  30% {
    transform: translateY(60px);
  }
}

svg #wheel {
  animation: scroll ease 2s infinite;
}



.navbar-nav {

    font-weight: bold;

}


@media (max-width: 766.99px) { 

.navbar-nav {

    font-size: 12px;

}

.nav-item {

    padding: 6px 0;

}

.navbar-nav .nav-link {


    padding: 0.7rem 1rem;



 }

/*.navbar.fixed-top.navbar-expand-md.navbar-dark {

    background-color: #001E15;

}*/

.bg-nav {
    background-color: #00425F;
    border-radius: 8px;
}


}



.dropdown-submenu {
  position: relative;
}

.dropdown-submenu a::after {
  transform: rotate(-90deg);
  position: absolute;
  right: 6px;
  top: .8em;
}

.dropdown-submenu .dropdown-menu {
  top: 0;
  left: 100%;
  margin-left: .1rem;
  margin-right: .1rem;
}


/*video as background; container element makes it responsive */
.video-bg {
  position: relative;
  width: auto;
  min-width: 100%;
  height: auto;
  min-height: 100%;
  background: transparent url('960x360.png') no-repeat;
  background-size: cover;
}

video {
  display: block;
}
/* disable video (e.g. in a media query) by setting .video-container to display: none; as appropriate */
.video-container {
    width: 100%;
    height: 100%;
    max-height: 540px;
    max-width: 100%;
/*    overflow: hidden;*/
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: -1;
}
/*.toggle-button {
  display: block;
  font-size: 0.9rem;
}
.toggle-button button {
  padding: 0.25rem 0.5rem;
  margin-bottom: 0.25rem;
}*/

.is-scrolled{

  opacity: 1;
}


.nav-link {
    display: block;
    padding: 1.5rem 1rem;
        padding-right: 1rem;
        padding-left: 1rem;
}

.navbar-expand-md .navbar-nav .nav-link {
    padding-right: 0.8rem;
    padding-left: 0.8rem;
}

#section1
{

  
  background-position: center;
  background-repeat: none;
  background-size: cover
}


.carousel-item {
  height: 100vh;
  min-height: 300px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.carousel-caption {

    background-color: #3e342d80;
    border-radius: 6px;

}

/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #fff;
  border: .05rem solid #fff;
}


/*
 * Base structure
 */

html,
body {
  height: 100%;
  background-color: rgb(50, 49, 46);
}

body {
  display: -ms-flexbox;
  display: flex;
  color: #fff;
  text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);

}

.cover-container {
  max-width: 42em;
}


/*
 * Header
 */
.masthead {
  margin-bottom: 2rem;
}

.masthead-brand {
  margin-bottom: 0;
}

.nav-masthead .nav-link {
  padding: .25rem 0;
  font-weight: 700;
  color: rgba(255, 255, 255, .5);
  background-color: transparent;
  border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255, 255, 255, .25);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #fff;
  border-bottom-color: #fff;
}

@media (min-width: 48em) {
  .masthead-brand {
    float: left;
  }
  .nav-masthead {
    float: right;
  }
}


/*
 * Cover
 */
.cover {
  padding: 0 1.5rem;
}
.cover .btn-lg {
  padding: .75rem 1.25rem;
  font-weight: 700;
}


/*
 * Footer
 */
.mastfoot {
  color: rgba(255, 255, 255, .5);
}

/*cover end*/

/*CCM*/

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Space out content a bit */
body {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-right: 1rem;
  padding-left: 1rem;
}

/* Custom page header */
.header {
  padding-bottom: 1rem;
  border-bottom: .05rem solid #e5e5e5;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 3rem;
}

/* Custom page footer */
.footer {
  padding-top: 1.5rem;
  color: #777;
  border-top: .05rem solid #e5e5e5;
}

/* Customize container */
@media (min-width: 48em) {
  .container {
    max-width: 46rem;
  }
}
.container-narrow > hr {
  margin: 2rem 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: .05rem solid #e5e5e5;
}
.jumbotron .btn {
  padding: .75rem 1.5rem;
  font-size: 1.5rem;
}

/* Supporting marketing content */
.marketing {
  margin: 3rem 0;
}
.marketing p + h4 {
  margin-top: 1.5rem;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 48em) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 2rem;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
