@import "../bootstrap/theme.scss";
@import "../node_modules/bootstrap/scss/bootstrap.scss";


@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600');
@import url('https://fonts.googleapis.com/css?family=Trirong:400,700');

/*@import url('https://fonts.googleapis.com/css?family=Yeseva+One');*/

/*Bold*/



.secondfont {

    font-family: "Trirong";

}

.titulos {

    font-family: "Trirong";
    font-weight: bold;

}